.cover__title {
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  color: white;
  max-width: 560px;
  text-align: center;
  height: auto;
  z-index: 5;
  margin: 0;
  text-decoration: none;
  /* border: 3px solid red; */
}
