.page {
  max-width: 4000px;
  background-color: #2a2c2f;
  margin: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
